.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5%;
  width: 100%;
  font-weight: 700;
}

.ping {
  border: 5px solid #095f62;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: #fff;
  animation: load 1.5s ease-out infinite;
}

.nav-item {
  margin-right: 15px;
  border-bottom: 2px solid var(--hrColor);
  cursor: pointer;
}

.nav-item:hover {
  border-bottom: 2px solid #226fae;
}

@keyframes load {
  0% {
    border: 0px solid #fff;
    background-color: #fff;
  }

  50% {
    border: 5px solid #095f62;
    background-color: #fff;
  }

  100% {
    border: 0px solid #095f62;
    background-color: #fff;
  }
}

.nav-item:nth-of-type(1) {
  display: flex;
  gap: 0.25rem;
  border-bottom: 2px solid #226fae;
}